@model IEnumerable<PickAndGo.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Detail";
}

<h3>@ViewBag.UserName</h3>

<p>
    @Html.ActionLink("Assign Roles", "Create",
                     new { userName = @ViewBag.UserName })
</p> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Remove Role", "Delete", new {email=@ViewBag.UserName, roleName=item.RoleName })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index">Back To Existing Users</a>

