@model IEnumerable<CustomerVM>
@using PickAndGo.ViewModels

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer ID
            </th>
            <th>
                Email Address
            </th>
            <th>
                Date Last Ordered
            </th>
            <th>
                Orders
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateLastOrdered)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NumbersOfOrders)
                </td>

                <td>
                    <a type="button" class="btn btn-sm btn-outline-secondary"asp-action="CustomerDetail" asp-route-customerId="@item.CustomerId">Detail</a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
