@model IngredientVM
@using PickAndGo.ViewModels

@{
    ViewData["Title"] = "Ingredient Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main>
    <div class="d-flex flex-column w-50 m-auto">
        <div class="w-100 d-flex flex-column justify-item-center">
            <div>

                <h1>Ingredient Details</h1>

                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-5">
                            In Stock
                        </dt>
                        <dd class="col-sm-7">
                            <img class="stock-icon" src="~/images/@Model.InStockIcon" />
                        </dd>
                        <dt class="col-sm-5">
                            Category
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.CategoryId)
                        </dd>
                        <dt class="col-sm-5">
                            Image URL
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.IngredientImage)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a type="button" class="btn btn-outline-secondary button-120 mb-2" asp-action="IngredientsEdit" asp-route-id="@Model?.IngredientId">Edit</a>
                    <a type="button" class="btn btn-outline-secondary button-120 mb-2" asp-action="Ingredients">Back to List</a>
                </div>
            </div>
        </div>
        @ViewBag.Message
    </div>
</main>