@model IngredientVM
@using PickAndGo.ViewModels

@{
    ViewData["Title"] = "IngredientsDetails";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            In Stock
        </dt>
        <dd class="col-sm-10">
            <img class="stock-icon" src="~/images/@Model.InStockIcon" />
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="IngredientsEdit" asp-route-id="@Model?.IngredientId">Edit</a> |
    <a asp-action="Ingredients">Back to List</a>
</div>
