@model IEnumerable<PickAndGo.Models.Ingredient>

@{
    ViewData["Title"] = "IngredientsIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Ingredients</h1>

<p>
    <a asp-controller="Admin" asp-action="IngredientsCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                In Stock
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                <a asp-action="IngredientsEdit" asp-route-id="@item.IngredientId">Edit</a> |
                <a asp-action="IngredientsDetails" asp-route-id="@item.IngredientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
