@using PickAndGo.ViewModels
@model IEnumerable<OrderListVM>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="order-title">
    <h1>Orders</h1>

    <div class="order-filter">
        <form asp-controller="Admin" asp-action="Orders">
            @Html.DropDownList("orderfilter", new List<SelectListItem>
            {
                new SelectListItem { Text = "Outstanding", Value = "O"},
                new SelectListItem { Text = "Completed", Value = "C"}
            })
            <input type="submit" value="Refresh" />
        </form>
    </div>
    <div class="order-search">
        <form asp-controller="Admin" asp-action="Orders">
            <p>
                Customer: <input type="text" name="searchName" value="@ViewData["CurrentNameSearch"]">
                or Order#: <input type="text" name="searchOrder" value="@ViewData["CurrentOrderSearch"]">
                <input type="submit" value="Search" />
                <a asp-action="Orders">Back to Full List</a>
            </p>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="hdg1">Order#</th>
            <th class="hdg2">Customer</th>
            <th class="hdg3">Order Details</th>
            <th class="hdg4">Date Ordered</th>
            <th class="hdg5">Pickup Time</th>
            <th class="hdg6">Status</th>
            <th class="hdg7">Change Status</th>
            <th class="hdg8"></th>
            <th></th>
        </tr>
    </thead>
</table>

<div class="accordion" id="accordionExample">

    @foreach (var order in Model)
    {
         <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@order.OrderStr" aria-expanded="false" aria-controls="@order.OrderStr">
                    <table>
                        <tr class="order-header">
                            <td class="col1">@order.OrderId</td>
                            <td> </td>
                            <td class="col2">@order.FullName</td>
                            <td class="col3">@order.Description</td>
                            <td class="col4">@order.OrderDate</td>
                            <td class="col5">@order.PickupTime</td>
                            <td class="col6">@(order.OrderStatus == "O" ? "Outstanding" : "Completed")</td>
                            <td><input type="checkbox" id="stat1" name="stat1" value="C"></td>
                        </tr>
                    </table>
                </button>
            </h2>


            <div id="@order.OrderStr" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                @foreach (var line in order.Ingredients)
                {
                    <div class="accordion-body">
                        <table class="accordion-table">
                            <tr>
                                <td class="cell1">@line.IngDescription</td>
                                <td class="cell2">@line.Quantity</td>
                            </tr>
                        </table>
                    </div>
                }
            </div>

        </div>

    }

</div>
@ViewBag.Message
