@using PickAndGo.ViewModels;
@model OrderCustomizeVM;

@{
    ViewData["Title"] = "Customize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="customize">

    <div id="customize-page" hidden>Customize-page</div>

    <div class="productTable container">
        <h1>Customize</h1>
        <hr />
        <!-- Product Select -->
        <select onchange="changeProduct(event)" id="product" class="p-3 mb-3 w-100 border-1 border">
            <option value="">-----Select sandwich size-----</option>
            @foreach (var product in Model.productVMs)
            {
                <option value="@product.ProductId-@product.BasePrice-@product.Description" selected="@(ViewBag.ProductId==@product.ProductId ? "selected" : null)">@product.Description</option>
            }
        </select>
        <!-- End of Select-->
        <div class="d-flex w-100 justify-content-end">
            <button id="clear-selection" class="border-0 my-2 bg-transparent clear-btn" onclick="clearSelection(event)">Clear Selection</button>
        </div>

        <!-- Displaying Ingredients -->
        <div class="accordion" id="customize">
            @foreach (var cat in Model.ingredientListVMs)
            {
                <div class="accordion-item">
                    <!-- Accordion Header : Catogory -->
                    <h2 class="accordion-header p-3">
                        <button class="accordion-button collapsed fs-6 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#@cat.CategoryId" aria-expanded="true" aria-controls="@cat.CategoryId">
                            @cat.CategoryId
                        </button>
                    </h2>
                    <!-- Accordion Body : Ingredients, add show in the  class -->
                    <div id="@cat.CategoryId" class="accordion-collapse collapse p-2" aria-labelledby="@cat.CategoryId">
                        <div class="accordion-body p-0">
                            <!-- Ingredients Table -->
                            @foreach (var ing in cat.Ingredients)
                            {
                                if (ing.InStock == "Y")
                                {
                                    <div id="@ing.IngredientId-table" class="ingredientTable d-flex w-100">
                                        <div class="col p-3">
                                            @if (ing.IngredientImage != "" && ing.IngredientImage != null)
                                            {
                                                <img src="@ing.IngredientImage" alt="@ing.Description" class="w-100 rounded-circle shadow-sm" />
                                            }
                                            else
                                            {
                                                <img class="w-100 rounded-circle shadow-sm" src="~/images/empty-image.png">
                                            }
                                        </div>
                                        <div class="col-4 d-flex flex-column justify-content-center p-3">
                                            <div class="ingredientId" hidden>@ing.IngredientId</div>
                                            <div class="description fw-bold">@ing.Description</div>
                                            <div>$<span id="@ing.IngredientId-price" class="price">@ing.Price</span></div>
                                        </div>

                                        <div class="col-6 d-flex align-items-center justify-content-end p-3">
                                            <form onchange="changeQuantity(event)" class="d-flex justify-content-between">

                                                <label for="@ing.IngredientId-none" class="radio-btn d-flex flex-column align-items-center m-2 gap-2">
                                                    <input type="radio" id="@ing.IngredientId-none" name="@ing.IngredientId" value="none" checked>
                                                    None
                                                </label>
                                                <label for="@ing.IngredientId-reg" class="radio-btn d-flex flex-column align-items-center m-2 gap-2">
                                                    <input type="radio" id="@ing.IngredientId-reg" name="@ing.IngredientId" value="reg">
                                                    Regular
                                                </label>

                                                <label for="@ing.IngredientId-extra" class="radio-btn d-flex flex-column align-items-center m-2 gap-2">
                                                    <input type="radio" id="@ing.IngredientId-extra" name="@ing.IngredientId" value="extra">
                                                    Extra
                                                </label>

                                            </form>
                                        </div>
                                        <div id="@ing.IngredientId-quantity" class="quantity" hidden>0</div>
                                        <div id="@ing.IngredientId-amount" class="amount" hidden>0.00</div>
                                    </div>
                                }
                            }
                            <!-- End of Ingredients table-->
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End of Accordian -->
    </div>

    <!--Bottom-->
    <div class="container">
        <div class="d-flex justify-content-end p-3 fw-bold"><span class="pe-2">Total</span> <span class="pe-1">$</span> <span id="total-price">0.00</span> </div>

        <div class="d-flex flex-column">
            <button type="button" class="btn btn-primary fs-5 p-2 mb-3" id="add-cart" onclick="addToCart()" value="">Add to Cart</button>
            <button type="button" class="btn btn-primary fs-5 p-2" id="checkout-btn" onclick="checkout()">Proceed to Checkout</button>
        </div>

    </div>

    <!--End of Bottom-->
    <!--jQuery Classes-->
    <div hidden>
        <span id="product-price">0</span> | <span id="ingredients-price">0</span> | <span id="total-amt">0</span>
        <button onclick="validateForm()">Validation</button>
        <button id="empty-cart" onclick="emptyCart(event)">Empty Cart (Temp)</button>

    </div>
    <!--End of jQuery Classes-->

</main>

<!-- Cart jQuery Script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/lib/jquery/dist/cart.js"></script>
<!-- End of Script-->